.author__discoveries {
    margin-bottom: 50px;
}

.author__discoveries a {
    color: black;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .author__discoveries a {
        color: #fff;
    }
}

.author__discovery {
    height: 208px;
    overflow: hidden;
}

.author__discovery p {
    line-height: 20px;
}

.author__discovery h1:first-child {
    text-decoration: underline;
}

.author__discovery h1:first-child:hover {
    text-decoration: none;
}