.author__discoveries {
    margin-bottom: 50px;
}

.author__discoveries a {
    font-size: 1.15rem;
    color: black;
}

.author__discovery {
    height: 220px;
    overflow: hidden;
}

.author__discovery h1:first-child {
    text-decoration: underline;
}

.author__discovery h1:first-child:hover {
    text-decoration: none;
}