.author__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.discovery_title {
    font-size: 1.5rem;
}

.discovery_description {
    width: 100%;
}

.discovery_description p {
    margin: 0;
}

@media (max-width: 500px) {
    .author__projects {
        grid-template-columns: 1fr;
    }
}