.author {
    width: 100%;
    padding: 4px;
    margin-top: 32px;
    display: flex;
}

.image_container {
    min-width: 120px;
    background-image: url("https://raw.githubusercontent.com/JackCompass/aboutme/master/public/author_metro.jpg");
    background-size: cover;
}

.image_container:hover {
    transform: rotateY(180deg);
    transition-duration: 2s;
    background-image: url("https://icons-for-free.com/iconfiles/png/512/coding+dev+development+programming+tag+icon-1320165734987953368.png");
    background-size: cover;
}

.author__description {
    margin: 0;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
}

.author__social_links {
    padding: 8px;
    display: flex;
    gap: 8px;
}

.author__social_links a {
    color: black;
    font-size: 1rem;
    font-weight: unset;
}

.author__social_links a:hover {
    text-decoration: none;
}

.author__section_title {
    font-size: 2.5rem;
}

.author__work li {
    margin-top: 16px;
    text-decoration: none;
}

@media (max-width: 370px) {
    .author {
        flex-direction: column;
    }

    .author__description {
        padding: 0;
    }
}