.author {
    width: 100%;
    padding: 4px;
    margin-top: 32px;
    display: flex;
}

.image {
    object-fit: cover;
}

.image_container {
    min-width: 120px;
}

.author__description {
    margin: 0;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
}

.author__social_links {
    padding: 8px;
    display: flex;
    gap: 8px;
}

.author__social_links a {
    color: black;
    font-size: 1rem;
    font-weight: unset;
}

.author__section_title {
    font-size: 2.5rem;
}

.author__work li {
    margin-top: 16px;
    text-decoration: none;
}

@media (max-width: 370px) {
    .author {
        flex-direction: column;
    }

    .author__description {
        padding: 0;
    }
}